.recomendacoes{
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 3em;
}

.recomendacoes :placeholder-shown{
    font-size: 15px;
    text-align: center;
}

input{
    width: 30em;
    height: 2em;
}



